@font-face {
    font-family: Lastochka;
    src: url(/fonts/Lastochka.ttf);
}

* {
    font-family: serif;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f0f0eb;
}

li {
    list-style: none;
    padding-left: 10px;
}

table {
    text-align: center;
    position: relative;
    margin: 0 auto;
}
tr, td, th, tbody{
    font-weight: normal;

}

th {
    padding: 9px;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}

.lastochka-font {
    font-family: Lastochka;
    font-weight: normal;
    font-size: 75px;
}

.header {
    text-align: center;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.header_txt {
    font-size: 20px;
    font-weight: 500;
}

.logo {}

.logo-main {
    align-items: center;
    text-align: center;
}

.name_txt {
    font-weight: 100;
}

.under_txt {
    margin: 0 auto;
    max-width: 490px;
}
.calendar {
    position: relative;
    margin: 0 auto;
}

#calendar {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.place {
    text-align: center;
}

.timing {
    text-align: center;
}

.timing_flex1 {}

.timing_flex_txt {}

.timing_flex2 {}

.timing_flex3 {}

.details {
    text-align: center;
}

.img_flex {}

.circle1 {}

.circle2 {}

.circle3 {}

.womens {}

.mans {}

.forms {
    text-align: center;
}

.contacts {
    text-align: center;
}

.socials {}

.fa-telegram {}

.fa-vk {}

.fa-envelope-open-o {}

.waitfor {
    text-align: center;
}

.timer {}

.footer {}